.App {
  min-height: 100vh;
  max-width: 1600px; 

  margin: 0 auto;
  margin-bottom: 40px; 

  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}

p {
  margin: 1ch;
  padding: auto;
}