.App {
  min-height: 100vh;
  max-width: 1600px; 

  margin: 0 auto;
  margin-bottom: 40px; 

  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}

p {
  margin: 1ch;
  padding: auto;
}

.card{
  width: 100%;
  margin: 10px auto;
}

.caixa-usuario {
  margin: 20px auto;
  max-width: 400px;
  padding: 10px;
}

.caixa-perfil img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.interface-procurados {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
  width: 100%;
  max-width: 1200px;
  margin: 60px auto 20px auto;
  gap: 50px;
}

.titulo-principal {
  position: static; 
  transform: none;
  
  margin: 0;
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 800;
  text-shadow: 0 0 6px #D9BE6C;
  line-height: 1.1;
}

@media (max-width: 950px) {
  .interface-procurados {
    width: 100%;
    min-width: 0;
    flex-wrap: wrap;
    height: auto;
  }
  
  .campo-select {
    flex: 1;
    border-top: 1px solid #D9BE6C;
    border-left: none;
  }

  .titulo-principal {
    position: static;
    transform: none;
    margin-bottom: 10px;
  }
}